.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn {
  background-color: #F36C12;
  color: white;
}

.card-img-top {
  object-fit: cover;
  object-position: 40% 5%;
}

.dropdown {
  margin-bottom: 12px;
}

h1 {
  font-family: "Assistant", sans-serif;
  font-weight: bold;
  color: #74a322;
}

h2 {
  font-family: "Assistant", sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  color: #74a322;
  padding-bottom: 20px;
}

h3 {
  font-weight: bold;
}

.card-body {
  font-family: "Benne", serif;
  font-size: 1.1em;
  color: #2e2c2f;
}

.card-subtitle {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1.2em;
  text-align: left;
}
 
.card-text {
  text-align: left;
}

h2 {
  color: #72A022;
}
